.rdrCalendarWrapper {
  background: #fbfaf9 !important;
  border-radius: 16px;
}

/* Header bulan & tahun */
.rdrMonthAndYearWrapper {
  background: #f8f5f2 !important;
  color: #3a2f2a !important;
}

/* Hari aktif (hari ini) */
.rdrDayToday .rdrDayNumber span {
  border: 2px solid #c19a6b;
  color: #c19a6b;
  border-radius: 50%;
}

/* Range terpilih */
.rdrDaySelected,
.rdrDayInRange {
  background: #c19a6b !important;
  color: white !important;
}

/* Hover efek */
.rdrDayHovered {
  background: rgba(193, 154, 107, 0.15) !important;
}

/* Tombol check-in/out */
.checkBox {
  background-color: #a67c52;
  color: white;
  font-weight: 500;
}

/* Ujung range */
.rdrStartEdge,
.rdrEndEdge {
  background-color: #a67c52 !important;
}

/* Di dalam range */
.rdrInRange {
  background-color: #896440 !important;
}

/* Judul section */
.title {
  background-color: #102e50;
}

/* Border aktif date input */
.rdrDateDisplayItemActive {
  border-color: #a67c52;
}

/* Hilangkan garis vertikal preview */
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  display: none !important;
}
