@import 'tailwindcss';

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-container {
	transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.3))
		translateZ(calc(var(--abs-offset) * -25rem)) translateX(calc(var(--direction) * -3rem));
	filter: blur(calc(var(--abs-offset) * 1rem));
}

.card {
	background-color: #fff;
}

button {
	color: white;
	transition: background-color 0.3s ease;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 18px;
}
