@import 'tailwindcss';

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-container {
	transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.3))
		translateZ(calc(var(--abs-offset) * -25rem)) translateX(calc(var(--direction) * -3rem));
	filter: blur(calc(var(--abs-offset) * 1rem));
}

.card {
	background-color: #fff;
}

button {
	color: white;
	transition: background-color 0.3s ease;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 18px;
}



@media (min-width: 640px) {
  .cardContainer {
    max-width: 700px;
    height: 28rem;
  }
}
@media (min-width: 768px) {
  .cardContainer {
    max-width: 900px;
    height: 30rem;
  }
}

/* Navigation buttons */
.nav {
  padding: 0.5rem 1rem;
}
